

.imgWrapper{

  position: relative;

  .pizzaImg{
    top: 35%;
    transform: translate(0, -50%);
    position: absolute;
    width: 450px;
    height: 450px;
  }
}

.title{
  margin-bottom: 15px;
}

.rootInf{
  display: flex;
  justify-content: space-between;
  margin:  0px 30px  0px 30px;
  height: 100%;
}

.sizes{
  display: flex;
  width: 100%;
  text-align: center;
  flex: 1;
}

.size{
  margin-right: 10px;
  
}


.information{
  
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}


.wrapper{
  height: 1000px;
}

.buyWrapper{


  .price{
    font-size: 43px;
  }
}

.btns{
  display: flex;

  button{
    width: 150px;
    height: 50px;
    padding: 5px 6px;
    margin-right: 8px;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.15s ease-in-out;
   

    &:hover{
      transform: translateY(-5px);
    }
  }

  .home{
      border: 2px solid rgb(137, 221, 12);

      &:hover {
        background-color: rgb(137, 221, 12);
        border-color: white;
      }
  }

  .add{
    border: 2px solid rgb(233, 111, 40);

    &:hover {
      background-color:rgb(233, 111, 40);
      border-color: white ;
    }
}
}